<div class="text-center" style="margin-top: 100px">
    <button class="btn btn-primary btn-sm"><i class="fa-regular fa-thumbs-up">like</i></button> 443 people like
    this.Sign up to see what your friends like.
    <br><br><br><br><br>
    <p>follow me on instagram</p>
</div>
<div class="container-fluid">
    <div class="row text-secondary">
        <div class="col">
            <i class="fa-brands fa-facebook-f"></i> &nbsp;  &nbsp;
            <i class="ri-corner-up-right-line"></i>
        </div>
        <div class="col text-end">
            <p>Made by Hojasvini</p>
        </div>
    </div>
</div>

