<app-header></app-header>
<app-navbar></app-navbar>

<section class="container">
    <div class="pricing">
        <h4 class="text-secondary">PRICING</h4><br>
        <h2 class="text-secondary">Depending on the package, details, and any modifications based on the customers
            preference</h2><br>
        <button class="btn btn-secondary btn">BOOK A SESSION</button> <br><br><br><br>
        <h4>PRICING/SERVICES</h4>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <img src="assets/images/pricing3.avif" alt="" class="img-fluid" width="500px">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h2>Portrait Session</h2>
                <h5 class="text-secondary">Starts at - $150</h5>
                <h6 class="text-secondary" style="font-size: 20px; line-height: 30px;">This covers Family portraits,
                    Professional or Personal headshots,<br> Senior Photos, and Non-Newborn shoots. Up to 4 people
                    are<br> allowed, $10 additional per person after 4. You get 20-30 edited <br>images approximately.
                </h6><br>
                <p>Start Now</p>
            </div><br>
            <div class="row mt-5">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h2>Maternity / Baby Portraits</h2>
                    <p class="text-secondary">Approximately 2 hours - Starting $300</p>
                    <h5 class="text-secondary">NEWBORN - 6 MONTHS OLD</h5>
                    <p class="text-secondary">20-30 edited images. 2 hour session, 3 poses maximum.</p>
                    <h5 class="text-secondary">**NO PARENTS OR SIBLINGS IN THE PHOTOS**</h5>
                    <p class="text-secondary">Parent or sibling in photo, then the fee is $350</p>
                    <h6 class="text-secondary">Maternity Photos</h6>
                    <p class="text-secondary">$400 for 30-40 edited images approximately, and shoot could last<br> 1.5-2
                        hours</p>
                    <p>Starts Now</p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="assets/images/pricing2.avif" alt="" class="img-fluid" width="500px">
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <img src="assets/images/pricing1.avif" alt="" class="img-fluid" width="500px">
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <h2>Speciality Session</h2>
                        <h5 class="text-secondary">Starts at $450</h5>
                        <h6 class="text-secondary" style="font-size: 20px; line-height: 30px;">Custom work is anything
                            from boudoir, sports events, speaking events, costume/cosplay, etc. The maximum shooting
                            time will not exceed 3 hours, and price is set according to project details.</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center" style="margin-top: 100px">
        <p>follow me on instagram</p>
    </div>
    <div class="container-fluid">
        <div class="row text-secondary">
            <div class="col">
                <i class="fa-brands fa-facebook-f"></i> &nbsp; &nbsp;
                <i class="ri-corner-up-right-line"></i>
            </div>
            <div class="col text-end">
                <p>Made by Hojasvini</p>
            </div>
        </div>
    </div>

</section>