<app-header></app-header>
<app-navbar></app-navbar><br><br>
<div class="container">
    <div class="row row-gap-4 text-center text-lg-start text-md-center">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality1.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality2.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality3.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality4.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality5.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality6.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality7.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality8.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality9.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality10.avif" alt="" class="img-fluid h-100" width="400px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality11.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality12.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality13.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality14.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality15.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality16.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality18.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality17.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality19.avif" alt="" class="img-fluid h-100" width="400px"><br>
         </div>
         <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/speciality20.avif" alt="" class="img-fluid h-100" width="400px"><br>
         </div>
         <div class="text-center" style="margin-top: 100px">
         <p>follow me on instagram</p>
        </div>
        <div class="container-fluid">
            <div class="row text-secondary">
                <div class="col">
                    <i class="fa-brands fa-facebook-f"></i> &nbsp;  &nbsp;
                    <i class="ri-corner-up-right-line"></i>
                </div>
                <div class="col text-end">
                    <p>Made by Hojasvini</p>
                </div>
            </div>
        </div>
        



    </div>
</div>