<app-header></app-header>
<app-navbar></app-navbar>
<app-carousel></app-carousel>
<br>
<div class="container text-center">
    <div class="row">
        <p class="fs-5">Welcome to RedC Photography! Where photos don't just create <br> memories, they define moments.
        </p>
    </div>
    <div class="row">
        <p class="fs-5">Hello, I am Maurice Redrick, a lifestyle photographer based in San Antonio, TX. My passion is to
            <br> document moments of love to create timeless, beautiful images as memories. I love capturing events,
            <br> headshots, special activities and also families. My style is fun, natural and understated. Looking <br>
            forward to capturing your special day for eternity!
        </p>
    </div>
    <div class="row">
        <div class="col"><button class="btn btn-secondary btn-xl w-auto">SAY HELLO</button></div>

    </div>
</div>
<div class="container" style="margin-top: 70px;">
    <div class="row row-gap-3">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <div class="position-relative">
                <img src="assets/images/featured work.avif" alt="" class="img-fluid">
                <div class="position-absolute top-50 ms-5">
                    <h1 class="text-light">FEATURED WORK</h1>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <div class="position-relative h-100">
                <img src="assets/images/book a shoot.avif" alt="" class="img-fluid h-100">
                <div class="position-absolute top-50 ms-5">
                    <h1 class="text-light">BOOK A SHOOT</h1>
                </div>
            </div>
        </div>
<app-enquiry></app-enquiry>
<app-footer></app-footer>