<div style="background-color: orangered;" class="container mt-5 p-4" >
    <div class="row">
        <div class="col mt-5 text-light">
            <h3>Interested in booking a session?</h3>
            <p>Fill out the form and list the details of what you are looking for specifically in your photoshoot, and I will be in touch with you to finalize the details!</p>
        </div>
        <div class="col mt-5">
            <form class="form text-light">
                <label for="name">Name *</label><br/>
                <div class="input-group mt-2">
                    <input type="text" aria-label="First name" placeholder="First Name" class="form-control">&nbsp;&nbsp;&nbsp;
                    <input type="text" aria-label="Last name" placeholder="Last Name" class="form-control">
                  </div> 
                  <label for="email">Email *</label><br/>
                  <input type="email" class="form-control mt-2">
                  <label for="message">Message *</label><br/>
                  <div class="form-floating mt-2">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Enter Message</label>
                  </div>
                  <button class="btn btn-secondary btn-lg mt-3">send enquiry</button><br><br>


            </form>
        </div>
    </div>
</div>
