<app-header></app-header>
<app-navbar></app-navbar><br><br><br>
<div class="container">
    <div class="row row-gap-lg-0 row-gap-md-5 row-gap-sm-5 row-gap-5">
        <div class="col-12 col-lg-6 ms-md-5 ms-lg-auto col-md-12 col-sm-12">
            <img src="assets/images/about.avif" alt="" class="img-fluid" width="500px">
        </div>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
        <h2 class="text-secondary">Hello, I am Maurice Redrick.
            A simple, down to earth lifestyle photographer based in San Antonio, Texas.</h2><br><br>
        <h6 class="text-secondary" style="font-size: 20px; line-height: 35px;">A few years ago I noticed the
            excitement, joy, and happiness<br> that pictures brought people in various situations. They served
            <br>as milestones for significant accomplishments or big moments<br> in life, and I wanted to become
            part of creating that memory to<br> my own clients. I developed a love for photography, and I have<br>
            worked with wedding events, car shows, professional <br>headshots, maternity shoots, and the list goes
            on. I want to<br> create the perfect picture for the perfect moment in everyones<br> life and that's why
            I continue to do this everyday. I would love to<br> work with you and make your special moment a
            lifetime<br> memory!
        </h6><br>
        <button class="btn btn-secondary btn">BOOK A SESSION</button> <br>
        </div>
        <div class="container col text-start"style="margin-top: 70px;"><br><br> 
           <h5 class="text-secondary">How many images can I expect from my session?</h5><br><br>
           <p class="text-secondary">Boudoir Session:(Max 2 Hours; 20 Photos) Starts at $250; 20 Digital Images Only (selected by customer) and price includes location as well.</p><br> </div> 
           <div class="text-secondary" style="line-height: 30px;">Family Portraits: This will depend greatly on the ages of the youngest people involved. A typical family of four, with kids under 5 years old, will usually receive between 25 and 40 finished images.<br>Business Portraits & Headshots: It would generally be safe to expect to see around 15 finished images per hour. <br>Indoor Portraits: Indoor portraits almost always mean bringing my own light sources, which will slow the pace of the session considerably. When shooting portraits indoor, I’ll usually produce between 10 and 20 finished images in an hour.<br>Specialty Portraits: This includes sport events, parties or celebrations, costume/cosplay, etc. These can range between 40 images to 150 images depending on the event and the customers request.<br><br>
            <h5 class="text-secondary">How will my photos be delivered to me?</h5><br>
            <p class="text-secondary">All pictures will be available through the website and you will be given a password to access and download them for a certain timeframe.</p><br>
            <h5 class="text-secondary">Do you print physical copies of photos?</h5><br>
            <p class="text-secondary">The great news is that after you download your digital copies, you can order a physical copy through any retailer that prints photos. There is also an online store<br> where you can order other novelties.</p><br>
            <h5 class="text-secondary">How long do I wait to recieve the photos?</h5><br>
            <p class="text-secondary">Depending on how many photos need editing and approved by the customer, it can be as little as a few hours, and as long as a couple of days. I do all I can to finish<br>all photos as soon as possible without sacrificing quality!</p><br>
            <h5 class="text-secondary">Do you offer special requests outside your listed services?</h5><br>
            <p class="text-secondary">Short answer, yes! But everything will be evaluated and discussed on a case-by-case basis.</p>
        </div>
<app-footer></app-footer>
        
        
        
