<app-header></app-header>
<app-navbar></app-navbar><br><br>
<div class="container">
    <div class="row text-center text-lg-start text-md-center">
        <h1 class="text-secondary text-center mb-5">Popular Clients</h1>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/client.avif" alt="" class="img-fluid h-75" width="300px"><br><br>
            <h6 class="text-secondary text-center">Prince Malik's Baby Shower</h6>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/client2.avif" alt="" class="img-fluid h-75" width="300px"><br><br>
            <h6 class="text-secondary text-center">Prince Abdul's Baby Shower</h6>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/client3.avif" alt="" class="img-fluid h-75" width="300px"><br><br>
            <h6 class="text-secondary text-center">Prince Khan's Baby Shower</h6>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/client6.avif" alt="" class="img-fluid h-75" width="300px"><br><br>
            <h6 class="text-secondary text-center">Prince Dhoni's Baby Shower</h6>
        </div>
    </div>
    <div class="row mt-5 text-center text-lg-start text-md-center">
        <h1 class="text-secondary text-center mb-5">Available Clients</h1>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/client5.avif" alt="" class="img-fluid h-75" width="300px"><br><br>
            <h6 class="text-secondary text-center">Prince zoyan's Baby Shower</h6>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/client4.avif" alt="" class="img-fluid h-75" width="300px"><br><br>
            <h6 class="text-secondary text-center">Prince Lawrence's Baby Shower</h6>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/client7.avif" alt="" class="img-fluid h-75" width="300px"><br><br>
            <h6 class="text-secondary text-center">Prince zyed's Baby Shower</h6>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/client9.avif.crdownload" alt="" class="img-fluid h-75" width="300px"><br><br>
            <h6 class="text-secondary text-center">Prince aswin's Baby Shower</h6>
        </div>
    </div>
</div>
<app-footer></app-footer>