<app-header></app-header>
<app-navbar></app-navbar><br><br>
<div class="container">
    <div class="row text-center text-lg-start text-md-center row-gap-5">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn2.avif" alt="" class="img-fluid h-100" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn3.avif" alt="" class="img-fluid h-100" width="300px">
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn4.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn5.avif" alt="" class="img-fluid" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn7.avif" alt="" class="img-fluid" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn8.avif" alt="" class="img-fluid" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn6.avif" alt="" class="img-fluid" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn9.avif" alt="" class="img-fluid h-100" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn10.avif" alt="" class="img-fluid h-100" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn15.avif" alt="" class="img-fluid h-100" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn13.avif" alt="" class="img-fluid h-100" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn14.avif" alt="" class="img-fluid h-100" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn16.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn17.avif" alt="" class="img-fluid h-100" width="300px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/newborn1.avif" alt="" class="img-fluid h-100" width="300px"><br>
        </div>
        <div class="text-center" style="margin-top: 100px">
            <p>follow me on instagram</p>
        </div>
        <div class="container-fluid">
            <div class="row text-secondary">
                <div class="col">
                    <i class="fa-brands fa-facebook-f"></i> &nbsp; &nbsp;
                    <i class="ri-corner-up-right-line"></i>
                </div>
                <div class="col text-end">
                    <p>Made by Hojasvini</p>
                </div>
            </div>
        </div>
    </div>
</div>