<app-header></app-header>
<app-navbar></app-navbar><br><br>
<div class="container">
    <div class="row row-gap-4 text-center text-lg-start text-md-center">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait1.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait2.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait3.avif" alt="" class="img-fluid h-100" width="400px"><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait4.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait5.avif" alt="" class="img-fluid h-85" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait6.avif" alt="" class="img-fluid" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait7.avif" alt="" class="img-fluid" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait8.avif" alt="" class="img-fluid" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait9.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait10.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait11.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait12.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait13.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait14.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait15.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait16.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait18.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait19.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait20.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
        <div class="col-12 col-lg-3 col-md-4 col-sm-6">
            <img src="assets/images/potrait21.avif" alt="" class="img-fluid h-100" width="300px"><br><br>
        </div>
    </div>
    <div class="text-center" style="margin-top: 100px">
        <p>follow me on instagram</p>
    </div>
    <div class="container-fluid">
        <div class="row text-secondary">
            <div class="col">
                <i class="fa-brands fa-facebook-f"></i> &nbsp; &nbsp;
                <i class="ri-corner-up-right-line"></i>
            </div>
            <div class="col text-end">
                <p>Made by Hojasvini</p>
            </div>